extends ../public/index

block head_
    style.
        td{
            padding: 5px;
        }
    title Домашная страница

block body_
    a(href="/add")
        button.btn.btn-success
            |Добавить аббитуриента
    table(border="2")
        thead
            tr
                td №п/п
                td Дата заявления
                td Ф.И.О.
                td Форма получения образования
                td Специальность
                td Приоритет о выборе специальности / вида (от 1 до 3)
                td № личного дела
                td № экз.листа
                td Основа обучения
                td Нуждаемость в общежитии
                td Пол
                td Дата рождения
                td Гражданство
                td Адрес местожительства (прописка)
                td Область, Район, Иногородние, Иностранцы
                td Паспортные данные (серия, номер, кем и когда выдан)
                td Телефон
                td Социальные категории (сирота, опекаемый, инвалид, ОВЗ)
                td СПО впервые / не впервые
                td Уровень образования
                td Год окончания учеб. завед.
                td Особые успехи в учении
                td Оригинал документа об образовании
                td Копия документа об образовании
                td Вступительное испытание (балл) (1)
                td Средний балл документа об образовании (2)
                td Решение приемной комиссии
                td № и дата приказа о зачислении
                td Приоритет, вид, оригинал аттестата
        tbody
            if data
                each item in data
                    tr
                        td=item.p_p
                        td=item.date_zayv
                        td=item.fio
                        td=item.forma_poluch_obraz
                        td=item.specialnost
                        td=item.prioritet
                        td=item.nomer_lichnoe_delo
                        td=item.nomer_ekz_lista
                        td=item.osnova_obych
                        td=item.obshaga
                        td=item.sex
                        td=item.birthday
                        td=item.grazhdanstvo
                        td=item.addres_mesto_zitelstva
                        td=item.oblast
                        td=item.pasport
                        td=item.tel
                        td=item.soc_category
                        td=item.SPO_vpervie_nevpervie
                        td=item.lvl_obraz
                        td=item.god_okonchania
                        td=item.osobie_yspexi_v_echebe
                        td=item.orig_doc_obraz
                        td=item.copy_doc_obraz
                        td=item.vstup_ispitanie_1
                        td=item.avg_ball_obrazovanie_2
                        td=item.reshenie_komissi
                        td=item.nomer_i_data_prikaza_o_zachislenie
                        td=item.prioritet_vid_orig_atestata
            else
                tr
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -
                    td -